<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="images/title-img.png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">  <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/imageManageStyle.css">
  <title>Must Games AI</title>
</head>
<body>
  <!-- navbar include -->
  <%- include('partials/navbar') %>
  <!-- end of navbar -->

  <section class="bg-light">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 col-sm-6">
          <div class="wrapper">
            <div class="box">
       
              <form id="form" encType="multipart/form-data">
                <div class="request-box mb-4">
                  <h4 class="text-dark font-weight-bold mb-3"> 컨텐츠 관리 페이지 </h4>
                  <div class="d-flex justify-content-between mb-3 m-auto">
                    <button type="submit" class="btn-primary btn-lg rounded">전송</button>
                    <button class="btn-secondary btn-lg rounded">취소</button>
                  </div>

                </div>
                <div class="input-box m-3">
                  <h5> 아래에서 이미지 리스트를 선택해 주세요 </h5>
                  <select id="content-selector" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" 
                          size="15">
                    <% for (let i=0; i< imageList.length; i++) { %>
                      <option value="<%= imageList[i].content_id %>"><%= imageList[i].name %></option>
                    <% } %>
                  </select>                
                </div>
                
              </form>
            </div>
          </div>
          
        </div>
        <div class="col-lg-8 col-sm-6 bg-dark px-0 ">
          <h4 class="text-light text-center mt-2">생성된 이미지 썸네일</h4>
          <div class="d-flex flex-wrap mx-0 justify-content-center uploaded-images">
            <!-- 동적으로 uploade된 image element 들을 javascript로 생성. -->
            
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end of collection -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>  <script src="script.js"></script>  
  <script src="https://kit.fontawesome.com/6c90a27bbc.js" crossorigin="anonymous"></script>
  <script src="/js/imageManageScript.js"></script>
</body>
</html>
