body {
  font-family: 'Montserrat', sans-serif;
}

/* header */
header {
  height: 80vh;
  background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .5)), url(images/stable-diffusion-01.jpg) no-repeat center center;
  background-size: cover;
}

/* navbar */
.nav-menu {
  background: linear-gradient(rgb(0, 0, 0, .6), rgba(0, 0, 0, .8));
  padding: 10px;
  transition: all .7s;
}

.menu-item {
  font-size: 16px;
  letter-spacing: 1px;
  color:#eee;
  transition: color .5s;
}

.menu-item:hover {
  color: #70aed2;
}

.line1, .line2, .line3 {
  width: 23px;
  height: 3px;
  margin: 5px;
  transition: all .4s;
}

.change .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.change .line2 {
  opacity: 0;
}

.change .line3 {
  transform: rotate(45deg) translate(-5px, -6px)
}

.custom-navbar {
  padding: 5px 30px;
  background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .7));
}


/* image manage */

.image-box {
  position: relative;
}

.image-box .image-select {
  position: absolute;
  color: #eee;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8));
  display: flex;
  padding: 6px;
  opacity: 0;
  transition: 0.5s all
}

.image-box:hover .image-select {
  opacity: 1;
}

.image-box.active .image-select {
  color: 	#ffa500;
  opacity: 1;
}



















