<!-- navbar -->
<nav class="navbar navbar-expand-lg nav-menu">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" class="m-0">
            <span class="h2 font-weight-bold text-light">Must Games</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#myNavbar" aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <div class="bg-light line1"></div>
            <div class="bg-light line2"></div>
            <div class="bg-light line3"></div>
        </button>
        <div class="collapse navbar-collapse  text-uppercase font-weight-bold" id="myNavbar">
          <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
            <% if(!sessUserInfo) { %>
            <li class="nav-item">
              <a class="nav-link active menu-item " aria-current="page" href="/user/login">로그인</a>
            </li>
            <li class="nav-item">
              <a class="nav-link menu-item" href="/termsnagree.html">회원가입</a>
            </li>
            <% } else { %>
            <li class="nav-item">
              <a class="nav-link active menu-item " aria-current="page" href="/service/imageUpload">이미지 업로드</a>
            </li>
            <li class="nav-item">
              <a class="nav-link menu-item" href="/service/imageManage">콘텐츠 관리</a>
            </li>
              <% } %>
            <li class="nav-item dropdown">
            <a class="nav-link menu-item dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                한국어
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">한국어</a></li>
                <li><a class="dropdown-item" href="#">English</a></li>
            </ul>
            </li>
            <% if (sessUserInfo) { %>
            <li class="nav-item">
              <a class="nav-link menu-item" href="#"><%= sessUserInfo.userName %>님</a>
            </li>
            <li class="nav-item">
              <a class="nav-link menu-item" href="/user/logout">로그 아웃</a>
            </li>

            <% } %>
          </ul>
        </div>
    </div>
  </nav>
<!-- end of navbar -->